<footer class="container-fluid">
    <div class="container">
        <div class="row footer-content-main">
            <div class="site-info">
                <p class="site-info__text">The Crosscut Festival is organized by</p>
                <div class="site-info__logo"><img alt="Crosscut" width="200" height="43" src="images/Crosscut_logo2019_ko.svg" /></div>
                <p class="site-info__text">A service of Cascade Public Media</p>
            </div>
        </div>
        <div class="row">
            <div class="site-info">
                <p class="site-info__sub">©2018 Cascade Public Media. All Rights Reserved. Terms of Use and Privacy Policy.</p>
            </div>
        </div>
    </div>
</footer>