<header class="main-header">
    <nav>
        <div class="nav">
            <div class="logo"><a href="/" title="Home"><img src="images/speech_bubbles.png" alt="Crosscut Festival 2019" height="40" width="40"/></a></div>
            <div class="menu menu__primary">
                <ul>
                    <li><a class="nav-link" href="#about">About</a></li>
                    <li><a class="nav-link" href="#sessions">Sessions</a></li>
                    <li><a class="nav-link" href="#speakers">Speakers</a></li>
                    <li><a class="nav-link" href="#tickets">Tickets</a></li>
                    <li><a class="nav-link" href="#location">Location</a></li>
                    <li><a class="nav-link" href="#extras">Extras</a></li>
                    <li><a class="btn btn-secondary text-uppercase" href="https://www.eventbrite.com/e/crosscut-festival-tickets-44569953932?aff=Microsite">Buy Now</a></li>
                </ul>
                <div class="vertical-line"></div>
                <div role="button" class="menu-toggle" id="toggle"></div>
            </div>
            <div class="menu menu__secondary">
                <ul>
                    <li><a class="nav-link" href="#">Sponsor</a></li>
                    <li><a class="nav-link" href="#">Volunteer</a></li>
                    <li><a class="nav-link" href="#">News</a></li>
                    <li><a class="nav-link" href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>