<header class="main-header">
    <nav>
        <div class="nav nav__primary">
            <div class="logo"><a href="/" title="Home"><img src="images/speech_bubbles.png" alt="Crosscut Festival 2019" height="40" width="40"/></a></div>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#program">Program</a></li>
                <li><a href="#tickets">Tickets</a></li>
                <li><a href="#location">Location</a></li>
                <li><a href="#extras">Extras</a></li>
            </ul>
            <ul>
                <li><a href="#">Sponsor</a></li>
                <li><a href="#">Volunteer</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        </div>
    </nav>
</header>