// variables

$blue: #213342;
$blue-dark: #172C3B;
$yellow: #F2BF42;
$yellow-darker: #E5B02E;
$teal: #61C2D7;
$teal-darker: #54B9CE;
$gray-medium: #979797;
$black: #4A4A4A;




$primary: $teal;
$secondary: $yellow;

$enable-rounded: false;

$font-family-sans-serif: 'ProximaNova', sans-serif;

$border-color: $gray-medium;