// variables

$blue: #213342;
$blue-dark: #172C3B;
$yellow: #F2BF42;
$yellow-darker: #E5B02E;
$orange: #F27A4A;
$teal: #61C2D7;
$teal-darker: #54B9CE;
$gray-light: #EBEBEB;
$gray-medium: #979797;
$gray-dark: #4A4A4A;

$light: #F9FEFF;
$highlight-bg: #FFEAB8;
$table-bg: #E9F6FD;

$header-height: 78px;




$primary: $teal;
$secondary: $yellow;

$enable-rounded: false;

$font-family-sans-serif: 'Proxima Nova', sans-serif;
$font-family-serif: 'Lora', serif;

$border-color: $gray-medium;
$link-color: #2D68AE;