{% extends "../templates/_base.html" %}

{% block head %}
<title>{{site.title}}</title>
<meta name="title" content="{{site.title}}">
<link rel="canonical" href="https://festival.crosscut.com" />
<meta name="description" content="Crosscut Festival 2019 Event Details">
{% endblock %}

{% block content %}

<main>
    <section class="container-fluid parallax hero">
        <div class="container section">
            <div class="hero-contents">
                <img src="images/ccfest_logo_2019.png" alt="Crosscut Festival 2019" width="500" height="500"/>
                <span>Big Issues. Bold Ideas.</span>
                <br/>
                <span>May 3-4, 2019 | Seattle University</span>
                <br/>
                <a class="btn btn-secondary">Get Your Tickets</a>
            </div>
        </div>
    </section>
    <section class="container-fluid featured-org-carousel">
        <div class="container owl-carousel owl-theme">
            <div>one</div>
            <div>two</div>
            <div>three</div>
            <div>four</div>
            <div>five</div>
            <div>six</div>
            <div>seven</div>
        </div>
    </section>
    <section class="container section" id="about">
        <h1>About Crosscut Festival</h1>
    </section>
    <section class="container section" id="program">
        <h2>Program</h2>
        <h3>Tracks</h3>
        <h3>Sessions</h3>
        <h3>Speakers</h3>

    </section>
    <section class="container section" id="tickets">
        <h2>Get Your Tickets</h2>

        <table class="ticket-table" style="width:100%;">
            <tbody>
            <tr>
                <th></th>
                <th class="ticket-option"><div>Friday + Saturday <br><span>$125</span></div></th>
                <th class="ticket-option"><div>Saturday Only<br><span>$95</span></div></th>
                <th class="ticket-option"><div>Senior (60+)<br><span>$75</span></div></th>
                <th class="ticket-option"><div>Student*<br><span>$20</span></div></th>
                <th class="ticket-option"><div>VIP Pass<br><span>$250</span></div></th>
            </tr>
            <tr>
                <th>Friday evening keynote</th>
                <td>X</td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            <tr>
                <th>All Saturday activities</th>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
            </tr>
            <tr>
                <th>Crosscut Festival after-party (21+ only)</th>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
            </tr>
            <tr>
                <th>Friday VIP Reception</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            <tr>
                <th>Reserved seating in the Keynote track</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            <tr>
                <th>Access to the VIP Lounge on Saturday</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            <tr>
                <th>Complimentary catering and coffee</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            <tr>
                <th>Opportunity to mingle with moderators, panelists and members of the press</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="container section" id="location">
        <h2>Location</h2>
    </section>
    <section class="container section" id="extras">
        <h2>Extras</h2>
    </section>
    <section class="container section">
        <h2>Sponsors</h2>
    </section>
</main>

{% endblock %}