{% extends "../templates/_base.html" %}

{% block head %}
<title>{{site.title}}</title>
<meta name="title" content="{{site.title}}">
<link rel="canonical" href="https://festival.crosscut.com" />
<meta name="description" content="Crosscut Festival 2019 Event Details">
{% endblock %}

{% block content %}

<main>
    <section class="container-fluid hero">
        <div class="hero-contents">
            <div class="logo"><img src="images/ccfest_logo_2019.png" alt="Crosscut Festival 2019" width="500" height="500"/></div>
            <span class="hero-text">Big Issues. Bold Ideas.</span>
            <br/>
            <span class="hero-text">May 3-4, 2019 | Seattle University</span>
            <br/>
            <a class="btn btn-secondary" href="https://www.eventbrite.com/e/crosscut-festival-tickets-44569953932?aff=Microsite">Get Your Tickets&nbsp;<div class="inline-arrow-right"></div></a>
        </div>
    </section>
    <section class="container-fluid featured-org-carousel">
        <span class="feature-text">Featuring Panelists From:</span>
        <div id="panelists-carousel" class="container owl-carousel owl-theme">

            {% if panelists %}
            {% for panelist in panelists %}
            <div><div class="org"><img src="{{ panelist.image }}" alt="{{ panelist.alt }}"/></div></div>
            {% endfor %}
            {% endif %}
        </div>
    </section>
    <section class="container-fluid about" id="about">
        <div class="container section">
            <h2 class="section-header py-3 py-lg-5">About the Crosscut Festival</h2>
            <p class="standout-copy"><b>Crosscut presents</b> two days of thought-provoking conversations and innovative thinking, tackling the most important issues of our times. Journalists, politicians, authors, and newsmakers from our community and around the nation come together to take a hard look at the people, policy and events that shape our lives.</p>

            <div class="about-icons py-3 py-lg-5">
                <div class="icon sm speakers"><span class="visually-hidden">75+ Speakers</span></div>
                <div class="icon sm sessions"><span class="visually-hidden">50+ Sessions</span></div>
                <div class="icon sm attendees"><span class="visually-hidden">1800 Attendees</span></div>
                <div class="icon lg ideas"><span class="visually-hidden">Endless Ideas</span></div>
            </div>

            <article class="news-container"></article>
        </div>
    </section>
    <section class="container section">
        <h2 class="section-header">Sessions</h2>

        <p>Crosscut Festival programming explores the fabric of our cultural conversation across a wide range of subjects. Sessions will include programming in tracks including Keynote, Race & Social Justice, Politics, Business, Science & the Environment, Interactive Workshops, and Meetups. We’ll also have live music, food, drinks and social events.</p>

        <div class="row sessions">
            <div class="col-sm-6 col-lg-4">
                <div class="track keynote">
                    <img src="images/Keynote.svg" width="104" height="108"/>
                    <h4>Keynote</h4>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="track business">
                    <img src="images/Business.svg" width="104" height="108"/>
                    <h4>Business</h4>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="track politics">
                    <img src="images/Politics.svg" width="104" height="108"/>
                    <h4>Politics</h4>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="track justice">
                    <img src="images/RaceJustice.svg" width="104" height="108"/>
                    <h4>Race & Social Justice</h4>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="track science">
                    <img src="images/ScienceEnvironment.svg" width="104" height="108"/>
                    <h4>Science & Environment</h4>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="track interactive">
                    <img src="images/InteractiveSocial.svg" width="104" height="108"/>
                    <h4>Interactive & Social</h4>
                </div>
            </div>
        </div>

        <div class="highlight"><div>Browse the entire schedule on <a href="https://sched.com">Sched.com</a> or in the event app (coming soon)</div></div>

        <section class="subsection">
            <h3 class="section-header">Tracks</h3>

            <p>Crosscut Festival programming explores the fabric of our cultural conversation across a wide range of subjects. Sessions will include programming in tracks including Keynote, Race & Social Justice, Politics, Business, Science & the Environment, Interactive Workshops, and Meetups. We’ll also have live music, food, drinks and social events.</p>
        </section>
    </section>

    {% if sessions %}
        {% include "_sessions.html" %}
    {% endif %}

    <section class="container section" id="speakers">
        <section class="subsection">
            <h3 class="section-header">Speakers</h3>
        </section>
    </section>

    <section class="container section" id="tickets">
        <h2 class="section-header">Get Your Tickets</h2>
        <a href="#" class="btn btn-secondary">Get Your Tickets&nbsp;<div class="inline-arrow-right"></div></a>
        <p class="info-text d-inline pl-3">Early bird prices end on DATE.</p>

        <div class="ticket-table ticket-table__mobile">
            <div class="ticket-option">
                <h4>Friday/Saturday Combo</h4>
                <span>$125</span>
                <ul>
                    <li>Access to the Friday evening Keynote</li>
                    <li>Access to all Saturday activities</li>
                    <li>Access to the Crosscut Festival after-party</li>
                </ul>
            </div>
            <div class="ticket-option">
                <h4>Saturday Only</h4>
                <span>$95</span>
                <ul>
                    <li>Access to all Saturday activities</li>
                    <li>Access to the Crosscut Festival after-party</li>
                </ul>
            </div>
            <div class="ticket-option">
                <h4>Senior (60+)</h4>
                <span>$75</span>
                <ul>
                    <li>Access to all Saturday activities</li>
                    <li>Access to the Crosscut Festival after-party</li>
                </ul>
            </div>
            <div class="ticket-option">
                <h4>Student *</h4>
                <span>$20</span>
                <ul>
                    <li>Access to the Friday evening Keynote (for the first 200 ticket buyers ONLY)</li>
                    <li>Access to all Saturday activities</li>
                    <li>Access to the Crosscut Festival after-party (21+ only)</li>
                </ul>
            </div>
            <div class="ticket-option">
                <h4>VIP Pass</h4>
                <span>$250</span>
                <ul>
                    <li>Invitation to the Friday VIP Reception</li>
                    <li>Access to the Friday evening Keynote</li>
                    <li>Access to all Saturday activities</li>
                    <li>Reserved seating in the Keynote track</li>
                    <li>Access to the VIP Lounge on Saturday</li>
                    <li>Complimentary catering & coffee</li>
                    <li>Opportunity to mingle with moderators, panelists and members of the press</li>
                    <li>Access to the Crosscut Festival after-party (21+ only)</li>
                </ul>
            </div>
        </div>

        <table class="ticket-table ticket-table__tablet" style="width:100%;">
            <tbody>
            <tr>
                <th></th>
                <th class="ticket-option">
                    <div class="rotate-text"><span>Friday&nbsp;+ Saturday</span></div>
                </th>
                <th class="ticket-option">
                    <div class="rotate-text"><span>Saturday Only</span></div>
                </th>
                <th class="ticket-option">
                    <div class="rotate-text"><span>Senior&nbsp;(60+)</span></div>
                </th>
                <th class="ticket-option">
                    <div class="rotate-text"><span>Student&nbsp;*</span></div>
                </th>
                <th class="ticket-option">
                    <div class="rotate-text"><span>VIP&nbsp;Pass</span></div>
                </th>
            </tr>
            <tr>
                <th><span class="price-label">Ticket Price:</span></th>
                <td class="price"><span>$125</span></td>
                <td class="price"><span>$95</span></td>
                <td class="price"><span>$75</span></td>
                <td class="price"><span>$20</span></td>
                <td class="price"><span>$250</span></td>
            </tr>
            <tr>
                <th>Friday evening keynote</th>
                <td><span class="check">✓</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>All Saturday activities</th>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>Crosscut Festival after-party (21+ only)</th>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>Friday VIP Reception</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>Reserved seating in the Keynote track</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>Access to the VIP Lounge on Saturday</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>Complimentary catering and coffee</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>Opportunity to mingle with moderators, panelists and members of the press</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="check">✓</span></td>
            </tr>
            </tbody>
        </table>
    </section>

    <section class="container-fluid section location" id="location">
        <h2 class="section-header">Location</h2>
        <p class="info-text">Join us on the beautiful Seattle University campus for this year's festival.</p>
    </section>

    <section class="container section extras" id="extras">
        <h2 class="section-header">Extras</h2>
        <div class="row">
            <div class="col-sm-6 extra">
                <img class="extra__img" alt="" src="https://placeimg.com/640/440/any">
                <h3 class="section-header">App</h3>
                <p>Coming Soon</p>
            </div>
            <div class="col-sm-6 extra">
                <img class="extra__img" alt="" src="https://placeimg.com/640/440/any">
                <h3 class="section-header">After Party</h3>
                <p>Keep the conversation and connections going at the official Crosscut Festival After-Party to mix and mingle with the community and speakers – and enjoy a drink (or two!) at Optimism Brewing (1158 Broadway, between Madison and Union) immediately following the final sessions on Saturday</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 extra">
                <img class="extra__img" alt="" src="https://placeimg.com/640/440/any">
                <h3 class="section-header">Food Trucks</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus, nunc condimentum ultrices suscipit, est ipsum pretium justo, euismod tempus justo metus sed lectus. Sed tincidunt mi nec ex feugiat cursus. Etiam tristique elit sed lorem mollis, eu tincidunt felis ullamcorper.</p>
            </div>
            <div class="col-sm-6 extra">
                <img class="extra__img" alt="" src="https://placeimg.com/640/440/any">
                <h3 class="section-header">Volunteer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus, nunc condimentum ultrices suscipit, est ipsum pretium justo, euismod tempus justo metus sed lectus. Sed tincidunt mi nec ex feugiat cursus. Etiam tristique elit sed lorem mollis, eu tincidunt felis ullamcorper.</p>
            </div>
        </div>
    </section>

    <section class="container section">
        <h2 class="section-header">Sponsors</h2>
        <p class="info-text">Crosscut Festival would not be possible without the generous support of our sponsors and partners.</p>
        <h3 class="display">Thank You!</h3>

        <div class="highlight"><div>Interested in supporting this year's festival? <a href="/sponsor">See our sponsorship page.</a></div></div>
    </section>
</main>

{% endblock %}