{% extends "../templates/_base.html" %}

{% block head %}
<title>{{site.title}}</title>
<meta name="title" content="{{site.title}}">
<link rel="canonical" href="https://festival.crosscut.com" />
<meta name="description" content="Crosscut Festival 2019 Event Details">
{% endblock %}

{% block content %}

<main>
    <section class="container-fluid hero">
        <div class="hero-contents">
            <div class="logo"><img src="images/ccfest_logo_2019.png" alt="Crosscut Festival 2019" width="500" height="500"/></div>
            <span class="hero-text">Big Issues. Bold Ideas.</span>
            <br/>
            <span class="hero-text">May 3-4, 2019 | Seattle University</span>
            <br/>
            <a class="btn btn-secondary">Get Your Tickets&nbsp;<div class="inline-arrow-right"></div></a>
        </div>
    </section>
    <section class="container-fluid featured-org-carousel">
        <div class="container"><span class="feature-text">Featuring Panelists From:</span></div>
        <div id="panelists-carousel" class="container owl-carousel owl-theme">
            <div>one</div>
            <div>two</div>
            <div>three</div>
            <div>four</div>
            <div>five</div>
            <div>six</div>
            <div>seven</div>
        </div>
    </section>
    <section class="container section" id="about">
        <h1 class="section-header">About the Crosscut Festival</h1>
        <p class="standout-copy">Crosscut presents two days of thought-provoking conversations and innovative thinking, tackling the most important issues of our times. Journalists, politicians, authors, and newsmakers from our community and around the nation come together to take a hard look at the people, policy and events that shape our lives.</p>
    </section>
    <section class="container section" id="program">
        <h2 class="section-header">Program</h2>

        <div class="highlight"><div>Browse the entire schedule on <a href="https://sched.com">Sched.com</a> or in the event app (coming soon)</div></div>

        <section class="subsection">
            <h3 class="section-header">Tracks</h3>

            <p>Crosscut Festival programming explores the fabric of our cultural conversation across a wide range of subjects. Sessions will include programming in tracks including Keynote, Race & Social Justice, Politics, Business, Science & the Environment, Interactive Workshops, and Meetups. We’ll also have live music, food, drinks and social events.</p>
        </section>
    </section>
    <section class="container-fluid section">
        <section class="subsection">
            <h3 class="section-header">Sessions</h3>
            <div id="session-carousel" class="owl-carousel owl-theme">
                <div class="session">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="session__image"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="session__info__top">
                                <div class="vertical-line"></div>
                                <div>
                                    <span>Friday, May 3 7PM</span><br>
                                    <span>Track Name</span><br>
                                    <span>Venue Name</span>
                                </div>
                            </div>
                            <div class="session__info__middle">
                                <h4>Session Name Goes Here: Insightful Question?</h4>
                            </div>
                            <div class="session__info__middle">
                                <span>Speaker Name</span><br>
                                <span>Speaker Qualifications and/or Affiliations</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="session">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="session__image"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="session__info__top">
                                <div class="vertical-line"></div>
                                <div>
                                    <span>Friday, May 3 7PM</span><br>
                                    <span>Track Name</span><br>
                                    <span>Venue Name</span>
                                </div>
                            </div>
                            <div class="session__info__middle">
                                <h4>Session Name Goes Here: Insightful Question?</h4>
                            </div>
                            <div class="session__info__middle">
                                <span>Speaker Name</span><br>
                                <span>Speaker Qualifications and/or Affiliations</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="session">

                </div>
                <div class="session">

                </div>

            </div>
        </section>
        <section class="subsection">
            <h3 class="section-header">Speakers</h3>
        </section>

    </section>

    <section class="container section" id="tickets">
        <h2 class="section-header">Get Your Tickets</h2>
        <a href="#" class="btn btn-secondary">Get Your Tickets&nbsp;<div class="inline-arrow-right"></div></a>
        <p class="info-text">Early bird prices end on DATE.</p>

        <table class="ticket-table" style="width:100%;">
            <tbody>
            <tr>
                <th></th>
                <th class="ticket-option"><div>Friday + Saturday <br><span>$125</span></div></th>
                <th class="ticket-option"><div>Saturday Only<br><span>$95</span></div></th>
                <th class="ticket-option"><div>Senior (60+)<br><span>$75</span></div></th>
                <th class="ticket-option"><div>Student*<br><span>$20</span></div></th>
                <th class="ticket-option"><div>VIP Pass<br><span>$250</span></div></th>
            </tr>
            <tr>
                <th>Friday evening keynote</th>
                <td>X</td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            <tr>
                <th>All Saturday activities</th>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
            </tr>
            <tr>
                <th>Crosscut Festival after-party (21+ only)</th>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
            </tr>
            <tr>
                <th>Friday VIP Reception</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            <tr>
                <th>Reserved seating in the Keynote track</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            <tr>
                <th>Access to the VIP Lounge on Saturday</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            <tr>
                <th>Complimentary catering and coffee</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            <tr>
                <th>Opportunity to mingle with moderators, panelists and members of the press</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>X</td>
            </tr>
            </tbody>
        </table>
    </section>

    <section class="container-fluid section location" id="location">
        <h2 class="section-header">Location</h2>
        <p class="info-text">Join us on the beautiful Seattle University campus for this year's festival.</p>
    </section>

    <section class="container section extras" id="extras">
        <h2 class="section-header">Extras</h2>
        <div class="row">
            <div class="col-sm-6 extra">
                <img class="extra__img" alt="" src="https://placeimg.com/640/440/any">
                <h3 class="section-header">App</h3>
                <p>Coming Soon</p>
            </div>
            <div class="col-sm-6 extra">
                <img class="extra__img" alt="" src="https://placeimg.com/640/440/any">
                <h3 class="section-header">After Party</h3>
                <p>Keep the conversation and connections going at the official Crosscut Festival After-Party to mix and mingle with the community and speakers – and enjoy a drink (or two!) at Optimism Brewing (1158 Broadway, between Madison and Union) immediately following the final sessions on Saturday</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 extra">
                <img class="extra__img" alt="" src="https://placeimg.com/640/440/any">
                <h3 class="section-header">Food Trucks</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus, nunc condimentum ultrices suscipit, est ipsum pretium justo, euismod tempus justo metus sed lectus. Sed tincidunt mi nec ex feugiat cursus. Etiam tristique elit sed lorem mollis, eu tincidunt felis ullamcorper.</p>
            </div>
            <div class="col-sm-6 extra">
                <img class="extra__img" alt="" src="https://placeimg.com/640/440/any">
                <h3 class="section-header">Volunteer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus, nunc condimentum ultrices suscipit, est ipsum pretium justo, euismod tempus justo metus sed lectus. Sed tincidunt mi nec ex feugiat cursus. Etiam tristique elit sed lorem mollis, eu tincidunt felis ullamcorper.</p>
            </div>
        </div>
    </section>

    <section class="container section">
        <h2 class="section-header">Sponsors</h2>
        <p class="info-text">Crosscut Festival would not be possible without the generous support of our sponsors and partners.</p>
        <h3 class="display">Thank You!</h3>

        <div class="highlight"><div>Interested in supporting this year's festival? <a href="/sponsor">See our sponsorship page.</a></div></div>
    </section>
</main>

{% endblock %}